header {
  height: 100vh;
  /* width: 100vw; */
  padding-top: 3rem;
  overflow: hidden;
  /* border: red 1px solid; */
}

.header__container {
  /* border: green 1px solid; */
  text-align: center;
  height: 100%;
  position: relative;
  /* top: 0; */
}

.img1 {
  position: absolute;
  top: 0;
}

/* =================       CTA ========================= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =================== socials */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0rem;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ====================== Me =================== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 13rem;
  height: 15rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  /* border: 1px solid black; */
  /* padding: 2rem 5rem; */
}

/* ===================== scroll */
.scroll__down {
  position: absolute;
  right: -3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ==================== Media Queris (Medium Devices) ============================================== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
/* ==================== Media Queris (Small Devices) ============================================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .me {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* place-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5.5rem;
    left: 0;
  }

  .me img {
    width: 4rem;
  }
}
